@import "tailwindcss";

@theme {
  --color-background: #0f0f11;
  --color-surface: #18181b;
  --color-text-primary: #e0e0e0;
  --color-text-secondary: #a1a1aa;

  --font-sans: var(--font-inter);
  --font-mono: var(--font-jetbrains-mono);

  --background-image-accent-gradient: linear-gradient(to right, #fbbf24, #f43f5e);
}

@utility scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-text-primary);
    font-family: var(--font-sans);
    -webkit-font-smoothing: antialiased;
  }

  ::selection {
    background-color: rgba(244, 63, 94, 0.3);
    color: white;
  }
}